html, body {
    width: 100%;
    background-color:  #373737;
    color: #f4f4f4;
}

body {
    margin-left: 0;
}

.body{
    width: 70%;
    margin: 0px auto;
}
a:link{
    color: #e3faff;
}

a:hover, a:active{
    color: #f4f4f4;
}

a:visited {
    color: #e1e1e1;
}



ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: auto;
    background-color: #4c2872;
}

li {
    float: left;
}

li a {
    font-size: 21px;
    display: block;
    color: #e3faff;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

li a:visited{
    color: #e3faff;
}

li a:hover {
    background-color: #352c41;
}

nav ul ul {
    display: none;
    position: absolute;
    /* top: 100%; */
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    float: none;
}


.form{
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 0 auto;

}

h1{
    font-size: 1em;
    text-align: center;
}

select{
    margin: .5em;
    background-color: #e1e1e1;
}

input{
    background-color: #e1e1e1;
}
table {
    margin: 0 auto;
    margin-top: 1em;
}

.blok{
    margin-top: .3em;
    margin-bottom: .3em;
}
td{
    padding-right: 0.5em;
    padding-left: 0.5em;
}

td a{
    padding: 0;
}


.cgs{
    margin-top: 1em;
    /* margin-bottom: 1em; */
}
#nick {
    width: 10em;
    margin-left: .5em;
    margin-right: 1em;
   } 

#more {
    display: inline-block;
}
#sortable th {
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    vertical-align: middle;
}
#srtble th {
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    vertical-align: middle;
}

img{
height: 1em;
}

.center{
    text-align: center;
}

.blue{
    color: rgb(71, 157, 255);
}

.info_sum{
    margin-top: 1em;
    /* margin-left: -3.3em; */
    margin-bottom: 1em;
}
.champDP_cont{
    display: inline-block;
}
.champsDP{
    /* float: left; */
    
    padding-top: .5em;
    padding-bottom: .5em;
    display: inline-block;

}

.champDP{
    float: left;

    padding-right: .5em;

    display: inline-block;
}

.summoner{
    padding-left: 0.3em;
    position: relative;

}

.summoner img{
    height: 1.5em;
    padding-right: 0.5em;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.nick{
    display: inline-block;
    padding-left: 2em;
}

.region{
position: relative;
/* text-align: left; */
}

.rank {
    position: relative;
    
}

.elo{
    display: inline-block;

    padding-left: 2em;

}
.rank img{
    height: 1.7em;
    padding-right: 0.5em;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   
}

.rank_full {
    position: relative;
    
}

.elo_full{
    display: inline-block;

    padding-left: 1.5em;

}
.rank_full img{
    height: 1.3em;
    padding-right: 0.3em;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   
}
.curchamps{
    
    text-align: center;
}
.curchamps img{
    height: 2em;
    /* padding-right: 0.5em; */
    margin-bottom: .5em;
}

.topchamp img{
    padding-right: 0.5em;

}


.fullchamp{
text-align: left;
position: relative;
}

.fullchamp img{
    height: 1.2em;
    padding-right: 0.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.fullchamp .fullchampname{
    padding-left: 1.5em;

}

.pages {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.pagenum {
    display: inline-block;
    margin: 0.2em;
}


.pagenum a{
    border:1px solid rgb(136, 136, 136);

}
.pagenum a:hover, .pagenum a:visited, .pagenum a:link, .pagenum a:active
{   
    padding-left: 0.3em;
    padding-right: 0.3em;
    /* padding: 0.2em; */
    text-decoration: none;
}

.current{
    background-color: rgb(177, 134, 168);

}
.pagenum :hover{
    background-color: rgb(177, 134, 168);
}

.sum_place{
    margin-bottom: 1em;
}

footer{
    
    width: 100%;
    background-color: #4c2872;
    font-size: smaller;
    bottom: 0px;
    margin-bottom: 0;
}