#sortable th {
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    vertical-align: middle;
}
#srtble th {
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    vertical-align: middle;
}

img{
    height: 20px;
    padding-right: 0.5em;
    margin-top: 0.2em;
}
